.log1{
    background-color:blue;
    margin-right: 70%;
    height: 650px;
    color: white;
   
}

.log2{
    margin-left: 40%;
    margin-top: -48%;
}
.a5{
    width: 300px;
    height: 30px;
    background-color:orange;
    color: white;
}
.a6{
    width: 300px;
    height: 30px;
    background-color:white;
    color: blue;
}
.a7{
    color:blue;
    margin-top: 5%;
} 
 .log3{
    background-color: white;
   width:350px;
   margin-left: 5%;
   margin-top: 10%;
} 
@media (max-width: 768px){
    .log1{
        background-color:blue;
        margin-right: 70%;
        height: 550px;
        color: white;
        font-size: 20px;
        width:150px;
       
    } 
    .log3{
        width:130px;
    }
    .log4{
        max-width: 120px;
        height: 120px;
    }
    .a1{
        margin-top: -60%;
    }
    .log2{
        margin-top: -140%;
        margin-left: 35%;
    }
    .a5{
        width: 230px;
        height: 30px;
        
    }
    .a6{
        width: 230px;
        height: 30px;
        
    }
}
